
.blog-display {
    max-width: 100%;
    font-size: 15px;
    line-height: 18px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px }
.blog-display .col-lg-6 {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    padding: 25px 0 25px 0; }
.blog-display .col-lg-6 .blog-img {
    display: block;
    float: left;
    margin-right: 25px; }

.blog-display{
    padding-left: 10%;
    padding-right: 10%;
}

.blog-display .col-lg-6 .blog-name {
    color: white;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
font-size: 3vw}
.blog-display .col-lg-6 .blog-name:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    font-size: 3vw}
.blog-display .col-lg-6 .blog-name {
    font-family: Avenir;
    font-size: 3vw;
    font-weight: 900; }
.blog-display .loadmore {
    display: inline-block;
    height: 34px;
    width: 100%;
    background-color: gray;
    text-align: center;
    padding-top: 15px; }



.sell-section {
    width: 1191px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 129px; }
.sell-section .sell-title {
    font-size: 30px;
    padding-bottom: 61px; }
.sell-section .sell-ads {
    width: 337px;
    float: left;
    padding: 0 30px; }
.sell-section .sell-ads .sell-ads-desc {
    padding-top: 29px; }
.sell-section .start-sell {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 54px 0;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid black; }

.offer-section {
    width: 1440px;
    height: 362px;
    padding-top: 130px; }
.offer-section .offer-title {
    font-size: 30px;
    padding-bottom: 38px; }
.offer-section .offer-item {
    width: 330px;
    height: 289px;
    float: left;
    font-size: 20px;
    padding: 0 15px; }
.offer-section .offer-item .offer-item-title {
    font-size: 25px;
    padding-bottom: 48px; }
.offer-section .offer-item .offer-item-desc {
    padding-top: 48px;
    width: 280px;
    margin-left: auto;
    margin-right: auto; }

.media-section {
    width: 1440px;
    height: 100px;
    padding-top: 120px;
    margin-bottom: 37px; }
.media-section .media-title {
    font-size: 24px;
    padding-bottom: 46px; }
.media-section .media-contents {
    width: 692px;
    height: 30px;
    margin: 0 auto; }
.media-section .media-contents .media-icon {
    display: inline-block;
    width: 123px;
    float: left;
    padding: 0 25px; }

