@mixin infoText {
  text-align: left;
  margin-bottom: 15px;
}

body {
  width: 1440px;
  font-family: sans-serif;
  margin: auto;
}

.car-display {
  width: 1424px;
  font-size: 15px;
  line-height: 18px;
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;

  .car-filter-bar {
    width: 100%;
    float: left;
    padding-bottom: 37px;

    .car-filter {
      font-size: 20px;
      width: 95px;
      height: 25px;
      padding: 36px;
      margin: 0 30px 0 0;
      display: inline;
      float: left;
      overflow: scroll;

      border: none;
    }
  }

  .col-lg-6 {
    display: block;
    width: 50%;
    float: left;
    position: relative;
    padding: 40px 0 64px 0;
    border-top: 1px solid gray;

    .car-img {
      display: block;
      float: left;
      margin-right: 25px;
    }

    .car-name, .car-mile, .car-price, .car-color, .car-equips {
      @include infoText;
    }

    .car-price, .car-color {
      font-weight: bold;
    }

    .ext-color, .int-color {
      padding: 5px;

      .car-color-circle {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .ext-color {
      .car-color-circle {
        padding-left: 5px;
      }
    }

    .int-color {
      .car-color-circle {
        padding-left: 10px;
      }
    }

  }

  .loadmore {
    display: inline-block;
    height: 34px;
    width: 100%;
    background-color: gray;
    text-align: center;
    padding-top: 15px;
  }

}

.sell-section {
  width: 1191px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 129px;

  .sell-title {
    font-size: 30px;
    padding-bottom: 61px;
  }

  .sell-ads {
    width: 337px;
    float: left;
    padding: 0 30px;

    .sell-ads-desc {
      padding-top: 29px;
    }
  }

  .start-sell {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin: 54px 0;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid black;
  }
}

.offer-section {
  width: 1440px;
  height: 362px;
  padding-top: 130px;

  .offer-title {
    font-size: 30px;
    padding-bottom: 38px;
  }

  .offer-item {
    width: 330px;
    height: 289px;
    float: left;
    font-size: 20px;
    padding: 0 15px;

    .offer-item-title {
      font-size: 25px;
      padding-bottom: 48px;
    }

    .offer-item-desc {
      padding-top: 48px;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.media-section {
  width: 1440px;
  height: 100px;
  padding-top: 120px;
  margin-bottom: 37px;

  .media-title {
    font-size: 24px;
    padding-bottom: 46px;
  }

  .media-contents {
    width: 692px;
    height: 30px;
    margin: 0 auto;

    .media-icon {
      display: inline-block;
      width: 123px;
      float: left;
      padding: 0 25px;
    }
  }

}

